.popup {
  width: calc(100vw - 200px);
  height: 100vh;
  position: absolute;
  float: left;
}
.background-blur {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  float: left;
}
.popup-box {
  padding: 0px 16px;
  width: calc(588px - 32px);
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(106, 113, 119, 0.15);
  float: left;
}
.popup-box .top-section {
  margin: 0;
  padding: 16px 8px;
  width: calc(100% - 16px);
  height: auto;
  float: left;
}
.popup-box .top-section .title {
  font-family: Arial-black;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.85);
}
.popup-box .content-section {
  width: 100%;
  height: auto;
  float: left;
}
.popup-box .content-section .transaction-detail-section {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(2, auto);
  float: left;
}
.popup-box .content-section .transaction-detail-section .file-detail-section {
  margin: 12px 8px;
  width: calc(100% - 48px);
  height: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  float: left;
}
.popup-box .content-section .transaction-detail-section .file-detail {
  margin-bottom: 8px;
  width: 100%;
  height: auto;
  display: grid;
  grid-row-gap: 16px;
  grid-template-rows: repeat(4, auto);
  float: left;
}
.popup-box .content-section .transaction-detail-section .title {
  font-family: Nunito-Semibold;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
}
.popup-box .content-section .transaction-detail-section .detail-item {
  width: inherit;
  height: auto;
  display: grid;
  grid-column-gap: 12px;
  grid-template-columns: 80px auto;
  align-items: center;
  float: left;
}
.popup-box
  .content-section
  .transaction-detail-section
  .detail-item
  div:first-child {
  color: #979797;
  font-size: 14px;
  font-family: Nunito-Semibold;
  line-height: 1.25;
  float: left;
}
.popup-box
  .content-section
  .transaction-detail-section
  .detail-item
  div:last-child {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-family: Nunito-Semibold;
  line-height: 1.25;
  float: left;
}
.popup-box .content-section .transaction-detail-section .another-file {
  padding: 0px 8px;
  width: calc(100% - 16px);
  height: auto;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  float: left;
}
.popup-box .content-section .transaction-detail-section .another-file div {
  width: 100%;
  height: auto;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-family: Nunito-Semibold;
  line-height: 1.25;
  float: left;
}
.popup-box .content-section .transaction-detail-section .another-file .button {
  margin-top: 8px;
  width: auto;
  height: 36px;
  color: #112d4e;
  align-self: flex-start;
  font-size: 14px;
  font-family: Nunito-Semibold;
  float: left;
}
.popup-box
  .content-section
  .transaction-detail-section
  .another-file
  .button
  label {
  padding: 8px;
  width: auto;
  height: calc(100% - 16px);
  float: left;
  text-align: center;
}
.popup-box
  .content-section
  .transaction-detail-section
  .another-file
  .button
  input[type="file"] {
  padding: 0;
  width: 72px;
  height: 36px;
  position: absolute;
  transform: translateX(-100%);
  opacity: 0;
  filter: opacity(0);
  cursor: pointer;
  float: left;
}
.popup-box
  .content-section
  .transaction-detail-section
  .payment-detail-section {
  padding: 12px 8px 0px;
  width: calc(100% - 16px);
  height: auto;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.24);
  float: left;
}
.popup-box .content-section .transaction-detail-section .fees-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  float: left;
}
.popup-box
  .content-section
  .transaction-detail-section
  .fees-container
  .netpayable {
  width: auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.popup-box
  .content-section
  .transaction-detail-section
  .fees-container
  .netpayable
  div:first-child {
  width: auto;
  color: rgba(0, 0, 0, 0.85);
  font-family: Nunito-Light !important;
  font-size: 24px;
}
.popup-box
  .content-section
  .transaction-detail-section
  .fees-container
  .netpayable
  div:last-child {
  align-self: flex-end;
  margin-bottom: 2px;
  margin-left: 8px;
  font-family: Nunito-Bold;
  font-size: 12px;
}
.account-label {
  width: 100%;
  height: 56px;
  align-self: flex-start;
  display: flex;
  align-items: center;
}
.account-label div {
  color: #979797 !important;
}
.dropdown-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto 24px;
  grid-template-rows: auto auto;
  grid-row-gap: 4px;
  grid-column-gap: 16px;
}
.dropdown-container img {
  width: 24px;
  height: 24px;
  align-self: center;
}
.dropdown-container .error-msg {
  width: 100%;
  height: auto;
  color: #b00020 !important;
  font-size: 12px;
  font-family: Nunito;
}
.popup-box .content-section .transaction-detail-section .button-section {
  margin: 24px 0px 20px;
  width: 100%;
  height: auto;
}
.popup-box
  .content-section
  .transaction-detail-section
  .button-section
  button:last-child {
  margin-left: 16px;
}

.popup-box .content-section .process-section {
  padding-bottom: 8px;
  width: 100%;
  height: auto;
  float: left;
}

.popup-box .content-section .process-section .row-title {
  padding: 0px 8px;
  margin-bottom: 8px;
  width: calc(100% - 16px);
  height: 48px;
  display: grid;
  grid-template-columns: auto 96px;
  font-family: Nunito-Semibold;
  font-size: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.popup-box .content-section .process-section .row-title div {
  height: inherit;
  display: flex;
  align-items: center;
}
.popup-box .content-section .process-section .row-title div:last-child {
  justify-content: center;
}
.popup-box .content-section .process-section .row-item {
  padding: 0px 8px;
  width: calc(100% - 16px);
  height: 40px;
  display: grid;
  grid-template-columns: auto 96px;
}
.popup-box .content-section .process-section .row-item div {
  height: inherit;
  display: flex;
  align-items: center;
  font-family: Nunito;
  font-size: 14px;
}
.popup-box .content-section .process-section .row-item div:last-child {
  justify-content: center;
}
.popup-box .content-section .process-section .row-item div > img {
  width: 24px;
  height: 24px;
}
.popup-box .content-section .process-section .row-item .in-process {
  color: #979797;
}
.popup-box .content-section .process-section .row-item button {
  width: auto;
  height: 36px;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: Nunito-Semibold;
  background-color: transparent;
}
